##################################
# NtripCaster banlist file #
# Syntax: <IP>
#
# <IP>: the client ip to ban
################################################################################
#192.168.30.193